.flexbox-container {
    display: flex;
}

body {
    background-color: #F7F8FC;
    font-family: 'Mulish';
    display: flex;
    height: 100vh;
}

/* base size */
html {
    font-size: 1.5vw;
    scroll-behavior: smooth;
}

.App {
    padding: 2rem;
    gap: 3.5rem;
}

.Contact {
    column-gap: 3rem;
}


/*!* width > 800px *!*/
@media (min-width: 800px) {
    html {
        font-size: 12px;
    }

    .App {
        max-width: 800px;
        padding: 2rem 0 2rem 0;
    }
}

/*!* width > 1200px *!*/
@media (min-width: 1200px) {
    html {
        font-size: 15px;
    }

    .App {
        max-width: 1000px;
        padding: 2rem 0 2rem 0;
    }
}


#root {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F8FC;
}

.App {
    width: 100%;
    height: 100vh;
    background-color: #F7F8FC;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.section {
    padding: 1.5rem;
    background-color: #FFFFFF;
    border-radius: 0.8rem;
    border: 0.5px solid rgba(128, 128, 0, 0.2);
}


/* flexbox */

.Nav, .Intro, .Project, .Contact{
    flex-direction: row;
    justify-content: space-between;
}

.Educations{
    flex-direction: column;
    justify-content: space-between;
}

.Divider {
    flex-direction: row;
    justify-content: center
}

.project-description, .project-link, .job-description, .job-link, .job-header{
    flex-direction: column;
    justify-content: flex-start;
}

.job-header{
    flex-direction: row;
    justify-content: flex-start;
}

.job-header .image {
    flex-direction: row;
    justify-content: flex-end;
}

    /* self-def class */
.t1 {
    font-size: 1.2rem;
    font-weight: bold;
}

.t2 {
    font-size: 1rem;
    font-weight: bold;;
}

.t3 {
    font-size: 1.2rem;
    font-family: 'Lora';
    font-style: italic;
    font-weight: bold;
}

a {
    color: black;
}

a:hover {
    color: #00000066;
}


.Divider {
    margin-bottom: -2rem;
}

.Intro {
    column-gap: 20px;
    align-items: stretch;
}

.Intro .image {
    max-width: 50%;
    max-height: 30rem;
    width: auto;
}

.Intro img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    border-radius: 0.8rem;
}

.Intro .intro {
    max-width: 50%;
    line-height: 100px;
}

.Intro .intro span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5rem;
}

.Educations .education {
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.Educations img{
    max-width: 20%;
    margin: 1rem 0;
}


.Project .image{
    max-height: 18rem;
}

.Project {
    align-items: center;
}

.Project img {
    max-width:100%;
    max-height:100%;
    overflow: hidden;
}


.Projects .list-item:not(:last-child), .Jobs .list-item:not(:last-child) {
    margin-bottom: 1.6rem;
}

.Project .project .sub-list-item:not(:last-child), .Job .job .sub-list-item:not(:last-child) {
    margin-bottom: 0.5rem;
}

.Project i, .Job i {
    font-size: 1.5rem;
    color: black;
}

.Project .project-link {
    row-gap: 1.2rem;
    text-align: right;
}

.Project .description, .Job .description {
    white-space: pre-line;
    vertical-align: bottom;
}

.job {
    flex-grow: 1;
}

.Job .job-link {
    width: 3rem;
}

.Job .job-header .text {
    flex-grow: 1;
}

.Job .job-header .image {
    max-height: 3rem;
    max-width: 25rem;
}

.Job .job-header img {
    max-height: 100%;
}

.Contact {
    justify-content: center;
    align-items: center;
}

.Contact i, .Contact iconify-icon {
    color:black;
    font-size: 2rem;
}

.Contact .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #808080AA;
    color: #fff;
    text-align: center;
    border-radius: 0.8rem;
    padding: 0.2rem 1rem;
    border: 0.5px solid rgba(128, 128, 0, 0.2);
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.Contact i.fa-at:hover + .tooltiptext {
    visibility: visible;
}

.Copyright.msg{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}